<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forgot Password - Webleb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="css/forgot-password.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/ForgetPassword.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="vid-container">
      <video id="Video1" class="bgvid back" autoplay="true" muted="muted" preload="auto" loop>
          <source src="video/forgetpassword.mp4" type="video/mp4">
      </video>
      <div class="inner-container">
        <div class="box">
          <h1>Forgot Password</h1>
          <div class="bg-img d-flex justify-content-center align-items-center">
            <div class="content text-center">
              <header>Get Your Password</header>
              <form id="send-otp-form" action="/sendOTP" method="post">
                <div class="form-group field d-flex align-items-center">
                  <span class="fa fa-user"></span>
                  <input type="email" name="toemail" class="form-control" id="email" required placeholder="Enter your username">
                </div>
                <div class="form-group field space">
                  <input type="submit" class="btn btn-primary btn-block" value="Send OTP">
                </div><br>
               </form>
               <form id="verify-otp-form" action="/verifyOTP" method="post">
                <div class="form-group field space d-flex align-items-center">
                  <span class="fa fa-user"></span>
                  <input type="number" name="otp" class="form-control" id="otp" required placeholder="Enter OTP (One Time Password)">
                </div>
                <div class="form-group field">
                  <input type="submit" class="btn btn-primary btn-block" value="Verify OTP">
                </div>
                <div class="form-group field space" style="height: 80px; padding: 10px; height: 100px; background: none;" th:if="${error}">
                  <h2 id="passwordMessage" th:text="${error}" style="color: red;"></h2>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
